/* CompanyPost style sheet */
.company-post-page {
    max-width: 50%;
}

.post-heading, .instruction-text{
    text-align: center;
}

.description-label{
    margin-bottom: 0.5rem;
}

.submit-btn-container{
    padding-top: 1rem;
    text-align: center;
}

.post-btns {
    width: 10rem;
    margin-right: 1rem;
}