.home-page-container {
    display: flex;
    flex-direction: column;
    background-color: #2D81FF;
    min-height:calc(100vh - 71px);
}

.home-page-slogan{
    color: white;
    padding-top: 3vw;
    font-size: clamp(15px, 6vw, 50px);
    text-align: center;
}

.Home-Page-Footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
}

.home-carousel{
    margin-top: 5vw;
}

.home-carousel-card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.home-carousel-card-container .card {
    margin: 1vw;
    width: 400px;
    height: auto;
    min-height: 220px;
}

.card .home-card-title{
    font-size: clamp(5px, 2.5vw, 20px);
}

.home-card-text{
    font-size: clamp(2.5px, 1.75vw, 16px);
}

.home-card-button{
    font-size: clamp(2.5px, 2vw, 16px);
}

.home-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vw;
}

.home-stats .card {
    margin: 1vw;
    width: 300px; /* Set a fixed width */
    max-height: 220px; /* Set a fixed height */
    flex-shrink: 1;
}



.home-stats .card-title {
    text-align: center;
}

.home-footer{
    margin-top: auto;
    font-size:10px;
}
.card .home-card-button{
    font-size: clamp(5px, 2.5vw, 20px);
}

.home-carousel-card-container .card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.home-stats .card:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.home-carousel .carousel-indicators {
    bottom:-30px;
}