.jbpage-container {
    max-width: 40%;
    height: fit-content; /* Set height to 100% of viewport height */
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

.jbpage {
  min-height: calc(100vh - 62px);
  overflow-y: auto;
}