.rich-text-editor {
    padding: 0.5rem;
    height: 400px;
}

/* Fix quills overlapping text container problem*/
.rich-text-editor .ql-container {
    max-height: 90%;
}

/* Set editor to have same font size as bootstrap */
.ql-editor {
    font-size: 1rem;
}