/* signup.css */

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.signup-content {
  width: 300px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type='email'],
input[type='text'],
input[type='password'],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button:hover {
  background-color: #0056b3;
}
